@mixin flex($direction) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
}

@mixin around($direction) {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: $direction;
}